@{
    ViewBag.Title = "About";
}
<div class="modal fade" id="WindowsModal" tabindex="-1" data-backdrop="false" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-info-circle" style="color:white;"></i> @ViewBag.Title.</h4>
                <a class='close' href="@Url.Action("Index","Home")">
                    <i class="fas fa-window-close" style="color:white;"></i>
                </a>
            </div>
            <div class="modal-body">
                <h3>@ViewBag.Message</h3>
                <p>Use this area to provide additional information.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="my-button" class="btn btn-outline-danger btn-sm btn-grid" onclick="location.href='@Url.Action("Index")'"><span class="fas fa-times"></span> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#WindowsModal').modal("show")
    </script>
}
