@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#listar').DataTable({
                "paging": true,
                "pageLength": 5,
                "records": 5,
                "recordsFiltered": 10,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });
    </script>
}

@{
    ViewBag.Title = "Roles del Sistema";
}

<p></p>
<div class="panel panel-default">
    <div class="panel-heading"><h4><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title </h4></div>
    <div class="panel-body">
        <p>
            <a class='btn btn-success btn-sm' href="@Url.Action("Create")">
                <span class="glyphicon glyphicon-file"></span> Nuevo
            </a>

        </p>
        <div class="table-responsive">
            <table id="listar" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th width="100px"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td align="right">
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Name }, new { @class = "btn btn-danger btn-sm btn-grid" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

