@using EConfiableWEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade in" role="dialog" id="myModal" tabindex="-1" data-backdrop="false" data-keyboard="false" aria-labelledby="myModalLabel" style="display: block;overflow-y: scroll;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "close boxclose" })
                    <h4 class="modal-title" id="myModalLabel"><span class="fa fa-key"></span> @ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    <div id="divLoader" class="modal fade in Loading" role="dialog" style="display:none;">
                        <center class="centrado">
                            Procesando
                            <p></p>
                            <img src="~/Content/Imagenes/Imagen/Loading.gif" alt="Loader" />
                        </center>
                    </div>
                    <div class="form-horizontal">
                        <section id="loginForm">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Label("Correo", new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <div class="form-group col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control Wc3Input" })
                                        </div>
                                        <div class="input-group">
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    <div class="form-group col-md-12">
                                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                        <div class="input-group">
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class='btn btn-info btn-sm' href="@Url.Action("ForgotPassword")">
                        <span class="glyphicon glyphicon-share-alt"></span> Restablecer Contraseña
                    </a>


                    <button type="submit" id="btnSubmit" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-lock"></span> Ingresar
                    </button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#myModal').modal('show');
                document.getElementById('Email').focus();
    </script>
}
